{% load static%}
<div class=" bg-white">
<div class="max-w-md mx-auto bg-white md:rounded-xl shadow-md overflow-hidden md:max-w-2xl md:mb-0">
    <div class="md:flex">
      <div class="md:flex-shrink-0">
        <img class="h-full w-full object-cover md:w-48" src="{% static 'img/image/photo_about.jpg' %}" alt="Man looking at item at a store">
      </div>
      <div class="p-8">
        <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">About Me</div>
          <p class="mt-2 text-gray-500">
          Hi. I'm Rommel Espinoza, Specialized in Servers Infrastructure, Networks, Technical support.
          
          In this last year, I have decided to launch myself into the world of development, 
          adapting my professional experience in systems with motivation and self-learning.
          Thanks to my studies in Informatics and a degree in Systems, I have developed a multidisciplinary profile both with technical qualities 
          with skills in customer service, team management and organization, which allows me to take this step and adapt to any work 
          environment and take on the challenge of creating products in the web environment.</p>
      </div>
    </div>
  </div>
</div>