<section class="bg-white border-b py-4">
  <div class="container mx-auto flex flex-wrap pt-2 pb-1">
    <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800 ">
      Projects
    </h1>
    <svg class="mx-auto animate-bounce w-6 h-6"
      xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="bg-gray-100">
      <path fill-rule="evenodd" d="M16.707 10.293a1 1 0 010 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l4.293-4.293a1 1 0 011.414 0z" clip-rule="evenodd" />
      
    </svg>
  </div>
</section>



 